<?xml version="1.0"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <IPAddress>192.168.24.110</IPAddress>
  <Port>80</Port>
  <ServerType>false</ServerType>
  <GroupNo>
    <int>0</int>
    <int>0</int>
    <int>0</int>
    <int>0</int>
    <int>0</int>
    <int>0</int>
    <int>0</int>
    <int>0</int>
    <int>0</int>
    <int>0</int>
    <int>0</int>
    <int>0</int>
    <int>0</int>
    <int>0</int>
    <int>0</int>
    <int>0</int>
  </GroupNo>
  <Checked>
    <boolean>false</boolean>
    <boolean>false</boolean>
    <boolean>false</boolean>
    <boolean>false</boolean>
    <boolean>false</boolean>
    <boolean>false</boolean>
    <boolean>false</boolean>
    <boolean>false</boolean>
    <boolean>false</boolean>
    <boolean>false</boolean>
    <boolean>false</boolean>
    <boolean>false</boolean>
    <boolean>false</boolean>
    <boolean>false</boolean>
    <boolean>false</boolean>
    <boolean>false</boolean>
  </Checked>
  <IUSettingsSet>
    <IUSettings>
      <indoorUnits>
        <IndoorUnit>
          <GroupNo>9</GroupNo>
          <Name>--</Name>
          <Checked>true</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
      </indoorUnits>
      <Mode>AUTO</Mode>
      <SetTemp>25.0</SetTemp>
      <FanSpeed>MEDIUM</FanSpeed>
    </IUSettings>
    <IUSettings>
      <indoorUnits>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
      </indoorUnits>
    </IUSettings>
    <IUSettings>
      <indoorUnits>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
      </indoorUnits>
    </IUSettings>
    <IUSettings>
      <indoorUnits>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
      </indoorUnits>
    </IUSettings>
    <IUSettings>
      <indoorUnits>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
        <IndoorUnit>
          <GroupNo>0</GroupNo>
          <Name>--</Name>
          <Checked>false</Checked>
        </IndoorUnit>
      </indoorUnits>
    </IUSettings>
  </IUSettingsSet>
</Settings>